@charset "UTF-8";

@media screen and (min-width: 788px) and (max-width: 992px) {
    section#login {
        width: 80vw;
    }

    body {
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    /*Fazer as divs ficarem uma ao lado da outra, ao ínves de uma em cima da outra, usa-se o 'float' e depois indica em qual lado a div vai ficar*/

    section#login > div#imagem {
        float: left; /*Indica que os elementos vão ser jogados pro lado esquerdo da tela, tipo como se fosse um 'text-alignt: right;'*/
        width: 30%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
    }

    section#login > div#formulario {
        float: right;
        width: 70%;
        border-radius: 0px 20px 20px 0px;
        height: 500px;
    }

}


@media screen and (min-width: 992px) {
    section#login {
        width: 950px;
    }

    body {
        background-image: linear-gradient(to top, #5f2c82, #49a09d);
    }

    
    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        border-radius: 0px 20px 0px 0px;
    }


    section#login > div#formulario {
        float: left;/*Indica que os elementos vão ser jogados pro lado esquerdo da tela, tipo como se fosse um 'text-alignt: left;'*/
        width: 50%;
        height: 500px;
        border-radius: 20px 0px 0px 20px;
    }
}