@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/



*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 550px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    /*Transição de mudança de tamanho*/
    transition: width 0.3s, heigth 0.3;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

div#formulario {
    display: block;
    background-color: white;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
    height: 350px;
    text-align: left;
}

div#formulario > h1 {
    font-size: 2em;
}

div#imagem {
    display: block;
    height: 200px;
    background-image: url(../imagens/pexels-david-underland-3523621.jpg);
    background-size: cover;
    background-position: top center;
    border-radius: 20px 20px 0px 0px;
}

h1#titulo {
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
}

section#login > div#formulario > p {
    margin-bottom: 10px;
}

div.campo > label {
    display: none;
}

form > div.campo {
    background-color: #5f2c82;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 2px solid #5f2c82;
}

/*Formatando os icones de usuário e senha*/
div.campo > span {
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

/*Caixa de usuário e senha*/
div.campo > input {
    background-color: #5ac1bd;
    font-size: 1em;
    /*Coloca a largura de 100% menos o tamanho da caixa dos ícones*/
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;

    /*Desloca a altura 12px para cima*/
    transform: translateY(-12px);
}


/*Refereciando o botão de entrar que na verdade é um link*/
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*'focus-within' a caixa que tiver selecionada fica com a cor de fundo branca*/
div.campo >input:focus-within {
    background-color: white;
}

form > input[type=submit]:hover {
    background-color: #2d6563;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 1px solid #49a09d;
    border-radius: 5px;
    text-decoration: none;
    color: #2d6563;
    padding-top: 7px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: #2d6563;
}

form > a.botao > span {
    font-size: 0.8em;
}

